* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}

body {
  height: 100vh;
  background-image: url("../images/backcover.svg");
  background-repeat: no-repeat;
  background-position:  right bottom;
}

/* Navbar Section */

.main-div {
  max-width: 80rem;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 17vh;
  align-items: center;
}
nav img {
  width: 120px;
}
.nav-items {
  display: flex;
  gap: 30px;
  color: #3e4794;
}
nav .btn {
  border: none;
  background: linear-gradient(to right, #965cf2, #ff8adc);
  padding: 4px 12px;
  cursor: pointer;
  font-weight: bold;
  color: #FFFFFF;
  border-radius: 50px;
  cursor: pointer;
}

/*----------------------- intro section ---------------------*/
.intro-section {
  display: flex;
}
.intro-section .left-section {
  max-width: 400px;
  margin-top: 100px;
}
.intro-section h1 {
  color: #3e4794;
  font-size: 4rem;
  margin-bottom: 40px;
}
.intro-section h4 {
  color: #6c6c6c;
  font-weight: normal;
  max-width: 300px;
  margin-bottom: 50px;
  line-height: 25px;
}
.intro-section .btn-lm {
  border: none;
  background: linear-gradient(to right, #965cf2, #ff8adc);
  padding: 10px 20px;
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
  border-radius: 50px;
  cursor: pointer;
}
.intro-section .imgs-div {
  position: relative;
}
.imgs-div img:nth-child(3) {
  width: 650px;
  position: absolute;
  top: -20px;
  left: 220px;
}
.vector-dot {
  position: absolute;
  top: 400px;
  left: 270px;
  width: 15px;
}
.vector-img {
  position: absolute;
  top: 400px;
  left: 220px;
  width: 80px;
}